<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <!--<mat-panel-description>-->
            <!--Type your name and age-->
            <!--</mat-panel-description>-->
          </mat-expansion-panel-header>
          <mat-action-row fxLayoutAlign="start center">
            <mat-icon>account_circle</mat-icon>
            <button mat-button>first</button>
          </mat-action-row>
          <mat-action-row fxLayoutAlign="start center">
            <mat-icon>account_circle</mat-icon>
            <button mat-button>second</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <!--<mat-panel-description>-->
            <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
            <!--</mat-panel-description>-->
          </mat-expansion-panel-header>
          <mat-action-row fxLayoutAlign="start center">
            <mat-icon>account_circle</mat-icon>
            <button mat-button>first</button>
          </mat-action-row>
          <mat-action-row fxLayoutAlign="start center">
            <mat-icon>account_circle</mat-icon>
            <button mat-button>second</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxFlex fxFlexFill fxLayout="row" fxLayoutAlign="start center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
        <span>你好，{{user.getUser()}} | 当前账号：{{user.getAccount()}}</span>

        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>切换账号</span>
          </button>
          <button mat-menu-item>
            <mat-icon>message</mat-icon>
            <span>新消息</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>退出</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
