<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <wechat-profit-card></wechat-profit-card>
      </div>
      <div class="col-md-6">
        <wechat-earning-card></wechat-earning-card>
      </div>
    </div>

    <wechat-traffic-reveal-card></wechat-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <wechat-ecommerce-charts></wechat-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <wechat-country-orders></wechat-country-orders>
  </div>

  <div class="col-xxl-3">
    <wechat-progress-section></wechat-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <wechat-ecommerce-visitors-analytics></wechat-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <wechat-user-activity></wechat-user-activity>
  </div>
</div>
