<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      数据库
    </mat-card-title>
    <mat-card-subtitle>
      配置并初始化数据库
    </mat-card-subtitle>
  </mat-card-title-group>
  <form class="example-form">
    <mat-card-content>

      <mat-select placeholder="选择数据库：" [(value)]="selected">
        <mat-option *ngFor="let db of databases" [value]="db">
          {{db}}
        </mat-option>

      </mat-select>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="地址" value="localhost">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="端口" value="3306">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="用户名" value="root">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input type="password" matInput placeholder="密码" value="123456">
      </mat-form-field>
    </mat-card-content>
  </form>


  <mat-card-actions>
    卡片底部按钮的容器
  </mat-card-actions>
  <mat-card-footer>
    钉在卡片底部的小节
  </mat-card-footer>
</mat-card>
<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      系统管理员
    </mat-card-title>
    <mat-card-subtitle>
      配置系统管理员账号
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-actions>
    卡片底部按钮的容器
  </mat-card-actions>
  <mat-card-footer>
    钉在卡片底部的小节
  </mat-card-footer>
</mat-card>
