<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      数据库
    </mat-card-title>
    <mat-card-subtitle>
      配置并初始化数据库
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <form class="example-form">
      <mat-select placeholder="Favorite food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    </form>
  </mat-card-content>


  <mat-card-actions>
    卡片底部按钮的容器
  </mat-card-actions>
  <mat-card-footer>
    钉在卡片底部的小节
  </mat-card-footer>
</mat-card>
<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      系统管理员
    </mat-card-title>
    <mat-card-subtitle>
      配置系统管理员账号
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-content>
    主卡片内容。一般为文本块
  </mat-card-content>
  <mat-card-actions>
    卡片底部按钮的容器
  </mat-card-actions>
  <mat-card-footer>
    钉在卡片底部的小节
  </mat-card-footer>
</mat-card>
