<nb-card size="medium">
  <nb-card-header>
    <div class="title">Visitors Analytics</div>
    <div class="sub-title">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <wechat-legend-chart [legendItems]="chartLegend"></wechat-legend-chart>
      </div>
      <wechat-visitors-analytics-chart></wechat-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <wechat-slide-out [showVisitorsStatistics]="true">
    <wechat-visitors-statistics></wechat-visitors-statistics>
  </wechat-slide-out>
</nb-card>
