@import '../../../@theme/styles/themes';

@include nb-install-component() {
  wechat-echarts-pie,
  wechat-echarts-bar,
  wechat-echarts-line,
  wechat-echarts-multiple-xaxis,
  wechat-echarts-area-stack,
  wechat-echarts-bar-animation,
  wechat-echarts-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  /deep/ .echart {
    height: 100%;
    width: 100%;
  }
}
