<div class="installRoot">
  <mat-card class="installCard">
    <mat-card-title>首次运行安装程序</mat-card-title>
    <mat-card-content>
      <mat-vertical-stepper [linear]="isLinear" #stepper fxFlexFill>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>数据库设置</ng-template>
            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
              <!--<mat-divider vertical="false"></mat-divider>-->
              <div fxFlexFill>
                <h3>本服务要求安装 MySQL、PostgreSQL、SQLite3、MSSQL 或 TiDB。</h3>
              </div>
              <!--<mat-divider vertical="false"></mat-divider>-->
              <mat-form-field appearance="outline">
                <mat-select placeholder="数据库类型" formControlName="ValidatorsType" name="db_type" [(ngModel)]="db.Type">
                  <mat-option *ngFor="let t of Types" [value]="t">
                    {{t}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="数据库主机" formControlName="ValidatorsHost" name="db_host"
                       [(ngModel)]="db.Host"
                       required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="数据库用户" formControlName="ValidatorsUser" name="db_user"
                       [(ngModel)]="db.User"
                       required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="数据库用户密码" type="password" formControlName="ValidatorsPassword"
                       name="db_passwd"
                       [(ngModel)]="db.Password"
                       required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="数据库名称" formControlName="ValidatorsName" name="db_name"
                       [(ngModel)]="db.Name"
                       required>
              </mat-form-field>
              <div>
                <button mat-flat-button matStepperNext color="primary" type="button" (click)="log()">Next
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>管理员帐号设置</ng-template>
            <div fxFlexFill>
              <h3>创建管理员帐号并不是必须的，第一个注册用户将自动获得管理员权限。</h3>
            </div>

            <mat-form-field>
              <input matInput="" placeholder="Address" formControlName="secondCtrl" required="">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
