<div class="installRoot">
  <mat-card class="installCard">
    <mat-card-title>首次运行安装程序</mat-card-title>
    <mat-card-content>
      <mat-vertical-stepper [linear]="isLinear" #stepper fxFlexFill>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>数据库设置</ng-template>
            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
              <!--<mat-divider vertical="false"></mat-divider>-->
              <div fxFlexFill>
                <h3>本服务要求安装 MySQL、PostgreSQL、SQLite3、MSSQL 或 TiDB。</h3>
              </div>
              <!--<mat-divider vertical="false"></mat-divider>-->


                <mat-form-field>
                  <input matInput placeholder="地址" formControlName="firstCtrl" required>
                </mat-form-field>

              <div>
                <button mat-button matStepperNext type="button">Next</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>管理员帐号设置</ng-template>
            <mat-form-field>
              <input matInput="" placeholder="Address" formControlName="secondCtrl" required="">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
