.installCard {
  width: 800px;
}

.installRoot {
  padding-top: 30px;
  text-align: -webkit-center
}

mat-form-field {
  text-align: center;
  width: 80%;
}

.installContainer {
  display: flex;
  flex-direction: column;
}
