<div class="installRoot">
  <mat-card class="installCard">
    <mat-card-title>首次运行安装程序</mat-card-title>
    <mat-card-content class="installContainer">
      <mat-vertical-stepper [linear]="isLinear" #stepper fxFlexFill>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>数据库设置</ng-template>
            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
              <!--<mat-divider vertical="false"></mat-divider>-->
              <div fxFlexFill>
                <h3>本服务要求安装 MySQL、PostgreSQL、SQLite3、MSSQL 或 TiDB。</h3>
              </div>
              <!--<mat-divider vertical="false"></mat-divider>-->
              <mat-form-field appearance="outline">
                <h3 matPrefix>数据库类型：</h3>
                <mat-select placeholder="数据库类型" formControlName="ValidatorsType" name="db_type" [(ngModel)]="db.Type">
                  <mat-option *ngFor="let types of Types" [value]="types">
                    {{types}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <h3 matPrefix>数据库主机：</h3>
                <input matInput placeholder="数据库主机" formControlName="ValidatorsHost" name="db_host"
                       [(ngModel)]="db.Host"
                       required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <h3 matPrefix>数据库用户：</h3>
                <input matInput placeholder="数据库用户" formControlName="ValidatorsUser" name="db_user"
                       [(ngModel)]="db.User"
                       required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <h3 matPrefix>数据库密码：</h3>
                <input matInput placeholder="数据库密码" type="password" formControlName="ValidatorsPassword"
                       name="db_passwd" [type]="hide ? 'password' : 'text'"
                       [(ngModel)]="db.Password"
                       required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <h3 matPrefix>数据库名称：</h3>
                <input matInput placeholder="数据库名称" formControlName="ValidatorsName" name="db_name"
                       [(ngModel)]="db.Name"
                       required>
              </mat-form-field>
              <div>
                <button mat-flat-button matStepperNext color="primary" type="button" (click)="log()">Next
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" optional="true">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>管理员帐号设置</ng-template>
            <div fxFlexFill>
              <h3>创建管理员帐号并不是必须的，第一个注册用户将自动获得管理员权限。</h3>
            </div>

            <mat-form-field appearance="outline">
              <input matInput placeholder="管理员用户名" formControlName="ValidatorsAdminUser" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput type="password" placeholder="管理员密码" formControlName="password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput type="password" placeholder="确认密码" formControlName="confirmPassword"
                     required>
              <mat-error>两次输入的密码不一致!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="管理员邮箱" formControlName="ValidatorsAdminEmail" required>
            </mat-form-field>
            <div>
              <button mat-flat-button matStepperPrevious color="primary" type="button">Back</button>
              <button mat-flat-button matStepperNext color="primary" type="button">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>完成</ng-template>
            <div fxFlexFill>
              <h3>是否提交？</h3>
            </div>
            <div>
              <button mat-flat-button matStepperPrevious color="primary" type="button">Back</button>
              <button mat-flat-button color="primary" (click)="stepper.reset()">Reset</button>
              <button mat-flat-button color="primary" type="submit">Submit</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
