<div class="row">
  <div class="col-lg-12">
    <wechat-hero-buttons></wechat-hero-buttons>
    <wechat-default-buttons></wechat-default-buttons>
    <wechat-outline-buttons></wechat-outline-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <wechat-shape-buttons></wechat-shape-buttons>
    <wechat-action-groups></wechat-action-groups>
    <wechat-labeled-actions-group></wechat-labeled-actions-group>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <wechat-size-buttons></wechat-size-buttons>
    <wechat-button-elements></wechat-button-elements>
  </div>
</div>
